# Ignore everything in the root
/*
*__pycache__

# Add exceptions
!.gitignore
!README.md
!LICENSE

# Everything in the ionsrcopt directory
!/ionsrcopt
# Everything in the tests directory
!/tests
# Allow everythin in the visualization directory
!/visualization
/visualization/Results/*

# Allow the Preparation Folder, but ignore some unimportant files
!/Preparation
/Preparation/Automatic_Source_Stability.ipynb
/Preparation/Clustering_3D_Test.ipynb
/Preparation/High Voltage Breakdown Cleaning.ipynb
/Preparation/Histogram_Classification.ipynb
/Preparation/Multidimensional_Distances.ipynb

# Allow the Clustering Folder, but only specified files
!/Clustering
/Clustering/*
# Clustering notebook
!/Clustering/Optigrid_Clustering.ipynb